@model IEnumerable<DroHub.Areas.DHub.Models.Device>
@{
    ViewData["Title"] = "Index";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Devices
        <small>List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-camera"></i> Devices</a></li>
        <li class="active">List</li>
    </ol>
</section>
<!-- /Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <a asp-area="DHub" asp-controller="Devices" asp-action="Create" class="btn btn-success" title="Register new Device"><span class="glyphicon glyphicon-plus"></span> Device</a>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.SerialNumber)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.CreationDate)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a asp-action="Data" asp-route-id="@item.Id" title="View details of @item.Name">@item.Name</a>
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.SerialNumber)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.CreationDate)
                                    </td>
                                    <td class="text-right">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Edit device"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete device"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Main content -->
