
@page
@using DroHub.Areas.DHub.Models
@using DroHub.Data
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject IUserClaimsPrincipalFactory<DroHubUser> UserClaimsPrincipalFactory
@inject UserManager<DroHubUser> UserManager
@inject SignInManager<DroHubUser> SignInManager
@inject DroHubContext DbContext
@model RegisterModel

 <div class="bs-example" data-example-id="hoverable-table" asp-authorize asp-require-claim asp-claim-type="@Subscription.CAN_SEE_OWN_SUBSCRIPTION" asp-claim-value="@Subscription.CLAIM_VALID_VALUE">
    <table class="table table-hover">
      <thead>
      <tr>
          <th>Organization</th>
          <th>User Name</th>
          <th>Claims</th>
          <th>Last Login</th>
          <th>Devices Serial Numbers</th>
          <th>Lock Out</th>
      </tr>
      </thead>
      <tbody>
        @foreach(var user in @Model.Users) {
        <tr>
          <td>@user.Subscription.OrganizationName</td>
          <td>@user.UserName</td>
            <td>
                @{
                    var user_principal = await SignInManager.CreateUserPrincipalAsync(user);
                    var user_claims = user_principal.Claims;
                }

                @foreach (var claim in user_claims) {
                    @if (claim.Value == Subscription.CLAIM_VALID_VALUE) {
                        <p>@claim.Type</p>
                    }
                }
            </td>
          <td>@user.LastLogin</td>
          <td>
          @foreach(var ud in user.UserDevices) {
              <p>@ud.Device.SerialNumber</p>
          }
          </td>
          <td>
            @(user.LockoutEnd == null ? "Not locked" : (string)user.LockoutEnd.ToString())
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div><!-- /example -->
<div class="register-box">
    <div class="register-logo">
        <a asp-area="" asp-controller="Home" asp-action="Index"><b>D</b>ro<b>H</b>ub</a>
    </div> <!-- /.login-logo -->
    <div class="register-box-body">
        <p class="register-box-msg">Create a new account</p>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group has-feedback">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Retype Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <select asp-for="Input.ActingType" class="form-control" asp-items="@Model.getAuthorizedUsersToAdd()"> placeholder="Select a user role" />
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Input.ActingType" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback" asp-require-claim asp-claim-type="@Subscription.CAN_ADD_CLAIM" asp-claim-value="">
                <input type="hidden" asp-for="Input.OrganizationName" class="form-control" placeholder="Organization Name" value="" />
            </div>
            <div class="form-group has-feedback" asp-require-claim asp-claim-type="@Subscription.CAN_ADD_CLAIM" asp-claim-value="@Subscription.CLAIM_VALID_VALUE">
                <input asp-for="Input.OrganizationName" class="form-control" placeholder="Organization Name" value="" />
                <span class="glyphicon glyphicon-briefcase form-control-feedback"></span>
                <span asp-validation-for="Input.OrganizationName" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback" asp-require-claim asp-claim-type="@Subscription.CAN_ADD_CLAIM" asp-claim-value="@Subscription.CLAIM_VALID_VALUE">
                <input asp-for="Input.AllowedFlightTime" class="form-control" placeholder="Allowed Flight Time in Minutes" />
                <span class="glyphicon glyphicon-hourglass form-control-feedback"></span>
                <span asp-validation-for="Input.AllowedFlightTime" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback" asp-require-claim asp-claim-type="@Subscription.CAN_ADD_CLAIM" asp-claim-value="@Subscription.CLAIM_VALID_VALUE">
                <input asp-for="Input.AllowedUserCount" class="form-control" placeholder="Allowed User Count" />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span asp-validation-for="Input.AllowedUserCount" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> I agree to the <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
            </div>
        </form>

        <a asp-page="./Login">Go to Login</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
