@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    private string GetAntiXsrfRequestToken() {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@using DroHub.Areas.Identity.Data
@using System.Security.Claims
@model DroHub.Areas.DHub.Models.AccountManagementModel
@{
    var json_user_type_attributes_json = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.user_attributes));
    var json_user_permission_json = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.user_permissions));
    ViewData["Title"] = "Index";
    var delete_user_url = Url.Page(
        "/Account/Manage/DeletePersonalData",
        "null",
        new {
            area = "Identity"
        }
    );
    var change_password_url = Url.Page(
        "/Account/Manage/ChangePassword",
        "null",
        new {
            area = "Identity"
        }
        );
}
<div id="app">
    <account-change-permissions-modal
        anti-forgery-token="@GetAntiXsrfRequestToken()"
        post-location="@Url.Action("ChangeUserPermissions")"
        v-bind:available-user-types='@json_user_type_attributes_json'>
    </account-change-permissions-modal>

    <account-exclude-user-modal
        anti-forgery-token="@GetAntiXsrfRequestToken()"
        post-location="@Url.Action("ExcludeUser")"></account-exclude-user-modal>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="col-lg-4 col-md-4 col-sm-2 content-centered">
                    <img style="width: 100%" class="img-circle" src="~/AdminLTE/dist/img/user2-160x160.jpg">
                    <a href="@delete_user_url" asp-require-claim="@(new Claim(DroHubUser.OWNER_POLICY_CLAIM, DroHubUser.CLAIM_VALID_VALUE))"
                       class="text-danger">Delete User</a>
                    <br/>
                    <a href="@change_password_url">
                       Change password
                    </a>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-10">
                    <div class="sub-field">
                        Flight Area Name
                        <div class="sub-data">@Model.subscription_name</div>
                    </div>
                    <div class="sub-field">
                        User Name
                        <div class="sub-data">@Model.user_name</div>
                    </div>
                    <div class="sub-field" asp-require-claim="@(new Claim(DroHubUser.PILOT_POLICY_CLAIM, DroHubUser.CLAIM_VALID_VALUE))">
                        Allowed flight time (minutes)
                        <div class="sub-data">@Model.allowed_flight_time.TotalMinutes</div>
                    </div>
                    <div class="sub-field" asp-require-claim="@(new Claim(DroHubUser.PILOT_POLICY_CLAIM, DroHubUser.CLAIM_VALID_VALUE))">
                        Aditional Users To Add To Flight Area
                        <div class="sub-data">@Model.allowed_users</div>
                    </div>
                </div>
            </div>
        </div>

        <account-send-invitation
            asp-require-claim="@(new Claim(DroHubUser.PILOT_POLICY_CLAIM, DroHubUser.CLAIM_VALID_VALUE))"
            anti-forgery-token="@GetAntiXsrfRequestToken()"
            post-location="@Url.Action("SendInvitation")"></account-send-invitation>
        <account-user-permissions
            asp-require-claim="@(new Claim(DroHubUser.PILOT_POLICY_CLAIM, DroHubUser.CLAIM_VALID_VALUE))"
            agent-user-email="@Model.user_email"
            anti-forgery-token="@GetAntiXsrfRequestToken()"
            v-bind:user-permissions='@json_user_permission_json'>
        </account-user-permissions>
    </div>
</div>

@section Scripts {
<script type="text/javascript" src="~/vue/js/Account.js"></script>
<partial name="_ValidationScriptsPartial" />
}

@section head {
<style>
    .sub-field {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .sub-data {
        font-size: 20px;
    }
</style>
}
