@page
@model LoginModel

<div class="login-box">
    <div class="login-logo">
        <a asp-area="" asp-controller="Home" asp-action="Index"><b>D</b>ro<b>H</b>ub</a>
    </div> <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group has-feedback">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" type="checkbox" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
            </div>
        </form>
        @*<div class="social-auth-links text-center">
            <p>- OR -</p>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </div>*@
        <a asp-page="./ForgotPassword">Forgot your password?</a>
        <br/>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
