@using Microsoft.AspNetCore.Hosting
@using Newtonsoft.Json
@using DroHub.Areas.Identity.Data
@model GalleryModel
@inject IWebHostEnvironment _host_env
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{

    private string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    ViewData["Title"] = "Gallery";
    var allow_settings = User.Claims.Any(
        c => c.Type == DroHubUser.PILOT_POLICY_CLAIM && c.Value == DroHubUser.CLAIM_VALID_VALUE);
}

<div id="app">
    <section class="gallery-top-bar">
        <div style="max-width: 624px; margin-right: 27px;" class="drohub-gallery-content-margin input-group-lg tag-input-container tag-selector">
            <gallery-input class=""
                           placeholder="Search for tags">
            </gallery-input>
        </div>
    </section>
    <!-- /Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        @if (Model.FilesPerTimestamp.Count == 0) {
            <h2>Nothing in this gallery yet. Try using your drone making a live stream.</h2>
        }
        else {
            <gallery-timeline
                v-bind:allow-settings="@allow_settings.ToString().ToLower()"
                get-live-stream-recording-video-url="@Url.Action("GetLiveStreamRecordingVideo", new {video_id = "_VAL_"}).Replace("_VAL_", "")"
                download-video-url="@Url.Action("DownloadVideo", new {video_id = "_VAL_"}).Replace("_VAL_", "")"
                get-photo-url="@Url.Action("GetPhoto", new {picture_id = "_VAL_"}).Replace("_VAL_", "")">
            </gallery-timeline>
        }
    </section>
</div>
@section Scripts {
<script type="text/javascript" src="~/vue/js/Gallery.js"></script>
<script type="application/javascript">
    window.init_data = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(@Model.FilesPerTimestamp, new JsonSerializerSettings() {ReferenceLoopHandling = ReferenceLoopHandling.Ignore}))');
    window.anti_forgery_token = "@GetAntiXsrfRequestToken()"
</script>
<partial name="_ValidationScriptsPartial" />
}

@section head {
<style>
    .gallery-top-bar {
        background: #DAE1E8;
        padding-bottom: 0.5%;
        padding-top: 0.5%;
        display: inline-block;
        width: 100%;
    }
</style>
}
