@{
    ViewData["Title"] = "MapDashboard";
    var move_to_position_box_id_prefix = "go-to-position-box-id-";
    var drone_marker_id_prefix = "device-";
}
@model IEnumerable<DroHub.Areas.DHub.Models.Device>
<!-- Content Header (Page header) -->
<!-- Main content -->

<section class="content">
    <style>
        .control-sidebar-open {
            width: 30%;
            height: 100%;
            overflow-y: scroll;
        }

        .gm-style .gm-style-iw {
            color: #FFFFFF;
            background-color: #3C61AD !important;
            top: 0 !important;
            left: 0 !important;
            padding-top: 10px;
            display: block !important;
        }

        .gm-style .gm-style-iw #google-popup p{
            padding: 10px;
        }
        /*style the link*/
        .gm-style div div div div div div div div a {
            color: #f1f1f1;
            font-weight: bold;
        }

        .blinking{
            animation:blinkingText 1.5s infinite;
        }

        @@keyframes blinkingText{
            0%{     color: #000;    }
            30%{    color: transparent; }
            70%{    color: transparent;  }
            100%{   color: #000;    }
        }

        </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" id="sidebar-collumn">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Devices</h3>
                        <div class="box-tools pull-right">
                            <button type="button" data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i>
                        </div>
                    </div>
                    <div class="box-body">
                        <input type="text" name="drone_search" class="form-control" placeholder="Search device by name or serial...">
                        @foreach(var device in @Model) {
                            <div class="box" id="devices-box-@device.Name">
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                        <i class="fa fa-paper-plane text-muted blinking"></i>
                                        @device.Name</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" title="Center map in device" onclick="centerMapOnDevice('@device.SerialNumber')"><i class="fa fa-map"></i>
                                        <button type="button" data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i>
                                    </div>
                                </div>
                                <div class="box-body">
                                    @{
                                        var takeoff_action_url = Url.Action("TakeOff", "Devices", new {id = device.Id});
                                        var landing_action_url = Url.Action("Land", "Devices", new {id = device.Id});
                                        var move_to_position_action_url = Url.Action("MoveToPosition", "Devices", new {id = device.Id});
                                        var move_to_position_box_id = move_to_position_box_id_prefix + device.Id;
                                    }

                                    <a onclick='followActionAndDoNothing("@takeoff_action_url")' class="btn btn-danger"
                                        title="Take off this device">TakeOff</a>
                                    <a onclick='followActionAndDoNothing("@landing_action_url")'
                                        class="btn btn-danger" title="Land this device">Land</a>
                                    <button type='button btn btn-danger' onclick="$('#@move_to_position_box_id').attr('style', 'display:initial')"
                                        class="btn btn-danger">Move to Position</button>

                                    <div class="box" id="@move_to_position_box_id" style="display: none">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Go To Position</h3>
                                            <div class="box-tools pull-right">
                                                <button type="button" data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                                            </div>
                                        </div>
                                        <div class="box-body">
                                            <iframe name="fake-submit" style="display:none;"></iframe>
                                            <form method="get" action="@move_to_position_action_url" target="fake-submit">
                                                <input type="hidden" name="Id" class="form-control" value="@device.Id">
                                                <input type="text" name="Longitude" class="form-control" placeholder="Longitude in decimal">
                                                <input type="text" name="Latitude" class="form-control" placeholder="Latitude in decimal">
                                                <input type="text" name="Altitude" class="form-control" placeholder="Altitude in decimal">
                                                <input type="text" name="Heading" class="form-control" placeholder="Heading in degrees" value="0">
                                                <button type="submit" name="goto-position" class="btn pull-right">Go!</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Missions</h3>
                        <div class="box-tools pull-right">
                            <button type="button" data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i>
                        </div>
                    </div>
                    <div class="box-body">
                        sdas
                    </div>
                </div>
                <div class="box collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Picture Stack</h3>
                        <div class="box-tools pull-right">
                            <button type="button" data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i>
                        </div>
                    </div>
                    <div class="box-body" id="picture-stack-container">
                        <div class="box" id="picture-box-template" style="display: none">
                            <div class="box-header with-border">
                                <h3 class="box-title">P1</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i>
                                </div>
                            </div>
                            <div class="box-body">
                                sdas
                            </div>
                        </div>
                    </div>
                </div>
           </div>

            <div class="col-md-10" id="map-collumn">
                <div class="box">
                    <div class="embed-responsive embed-responsive-16by9">
                        <div id="map" class="embed-responsive-item" style="border: 1px solid black"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="modal-move-to-position">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Go to Position</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                             <div class="col-md-4">
                                Latitude
                            </div>
                            <div class="col-md-4" id="modal-latitude-value">
                                Value
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-md-4">
                                Longitude
                            </div>
                            <div class="col-md-4" id="modal-longitude-value">
                                Value
                            </div>
                        </div>
                        <div class="row">
                            @{
                                var devices_select_list = new SelectList(Model, "Id", "Name");
                            }
                            <div class="col-md-4">
                                Select which device should go to Position.
                            </div>
                            <div class="col-md-4">
                                <select asp-items="devices_select_list" id="move-to-position-device-select"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="onGoToPositionDeviceSelected()" data-dismiss="modal" >
                    Select
                    </button>
                </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

    <script src="/lib/dropbox-sdk/Dropbox-sdk.min.js"></script>
</section>

@section Scripts {
    <script src="/lib/dropbox-sdk/Dropbox-sdk.min.js"></script>
    <script src="/lib/signalr/dist/browser/signalr.js"></script>
    <script src="/js/common-dropbox.js"></script>
    <script>
            var marker_dict = {};
            function centerMapOnDevice(device_serial_number) {
                let device_marker = marker_dict[`@drone_marker_id_prefix${device_serial_number}`];
                centerMapOnMarker(device_marker);
            }

            function centerMapOnMarker(marker) {
                marker.map.panTo(marker.position);
                marker.map.setZoom(20);
            }

            function onGoToPositionDeviceSelected() {
                let selected_device_serial = $('#move-to-position-device-select').val();
                let device_box = $(`#@move_to_position_box_id_prefix${selected_device_serial}`)
                let lat = $('#modal-latitude-value').text();
                let lng = $('#modal-longitude-value').text();
                device_box.attr('style', 'display:initial')
                device_box.find("input[name='Longitude']").val(lng);
                device_box.find("input[name='Latitude']").val(lat);
                device_box.find("input[name='Altitude']").focus();
            }

            function getCoordinate(file, coord_type) {
                    if (typeof(file.media_info.metadata.location) != 'undefined')
                        return eval("file.media_info.metadata.location." + coord_type)
            }

            function isPictureFile(file_response) {
                return !(file_response[".tag"] != "file" || typeof(file_response.media_info) === 'undefined' ||
                            file_response.media_info[".tag"] != 'metadata' ||
                            file_response.media_info.metadata[".tag"] != 'photo' ||
                            file_response.media_info.metadata["location"] === undefined)
            }

            function JSONMarkerPrettyPrint(name, val) {
                return `<p>${name}: ${val}</p>`
            }

            function generateInfoWindowContent(file, thumbnail_url, exif_json) {
                let contentString = `
                    <p>Pic ${file.name}</p>
                    <p>Lat:${getCoordinate(file, 'latitude')} Long ${getCoordinate(file, 'longitude')}</p>`

                if (thumbnail_url)
                    contentString += `<img src="${thumbnail_url}">`

                if (exif_json) {
                    JSON.parse(exif_json, function(k, v) {
                        contentString += JSONMarkerPrettyPrint(k, v)
                    })
                }
                return contentString;
            }

            function populateExifInfo(dbx, file) {
                json_file = file.path_lower.substr(0, file.path_lower.lastIndexOf(".")) + ".json"
                dbx.filesDownload({path: json_file}).then(
                    function (json_response) {
                        let blob = json_response.fileBlob;
                        let reader = new FileReader();
                        reader.addEventListener("loadend", function() {
                            let photo_exif = JSON.parse(reader.result, JSONMarkerPrettyPrint);
                            stringified_exif = ""
                            let content_html = generateInfoWindowContent(file, thumbnail_url, reader.result);
                            //setControlSideBarContent(content_html, true);

                            populatePictureStack(dbx, file, content_html)
                        })
                        reader.readAsText(blob);
                    }
                )
            }

            function populateThumbnail(file, dbx, after_thumbnail_callback) {
                dbx.filesGetThumbnail({path: file.path_lower, size : {".tag": 'w480h320'}}).then(function (thumbnail_response) {
                    thumbnail_url = window.URL.createObjectURL(thumbnail_response.fileBlob)
                    let content_html = generateInfoWindowContent(file, thumbnail_url, null);
                    after_thumbnail_callback(dbx, file)
                })
            }

            async function populateMarkerContentDropbox(dbx, file) {
                let content_html = generateInfoWindowContent(file, null, null)
                let populate_exif_info_cb = populateExifInfo.bind(null, dbx, file);
                let populate_thumbnail_cb = populateThumbnail.bind(null, file, dbx, populate_exif_info_cb);

                populate_thumbnail_cb()
            }

            function populatePictureStack(dbx, file, content_html) {
                function basename(path) {
                    return path.split('/').reverse()[0];
                }
                console.log(file.path_lower)
                let new_picture = $('#picture-box-template').clone();
                new_picture = new_picture.attr("style", "display: initial");
                new_picture = new_picture.attr("id", `picture-box-${file.path_lower}`);
                new_picture.find('.box-title').text(basename(file.path_lower));
                new_picture.find('.box-body').html(content_html);

                new_picture.find('.box-body').html(content_html);
                console.log(content_html)
                new_picture.appendTo("#picture-stack-container");
            }

            function populateMarkers(map, serial, id, latitude, longitude, marker_icon, marker_content_func) {
                if (marker_dict.hasOwnProperty(id)) {
                    marker_dict[id].setPosition(new google.maps.LatLng(latitude, longitude));
                    return;
                }

                let marker = new google.maps.Marker({
                        position: {lat: latitude, lng: longitude},
                        icon : marker_icon,
                        map : map,
                        serial : serial,
                        id : id
                });

                marker_dict[id] = marker;

                if (marker_content_func) {
                    google.maps.event.addListener(marker, 'click', () => {
                        marker_content_func.bind(null, marker)();
                    });
                }
            }
            function initLiveTelemetry(map) {
                var connection = new signalR.HubConnectionBuilder().withUrl("/telemetryHub").
                    configureLogging(signalR.LogLevel.Information).build();

                connection.on("telemetry", function (message) {
                    drone_coords = JSON.parse(message)
                    let icon_url =  `${window.location.origin}/images/drone-svgrepo-com.svg`
                    let marker_icon = {
                        url: icon_url, // url
                        scaledSize: new google.maps.Size(50, 50), // scaled size
                        origin: new google.maps.Point(0,0), // origin
                        anchor: new google.maps.Point(0, 0) // anchorscaledSize: new google.maps.Size(50, 50), // scaled size
                    }

                    populate_marker_cb = populateMarkers.bind(null, map, drone_coords.Serial,
                        `@drone_marker_id_prefix${drone_coords.Serial}`, drone_coords.Latitude, drone_coords.Longitude, marker_icon)
                    populate_marker_cb()
                });

                connection.start().then(function () {
                    console.log("Notifications started SIGNALR");
                }).catch(function (err) {
                    return console.error(err.toString());
                });

            }
            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8,
                    center: {lat: 40.5, lng: -7}
                    });

                var url = '@Url.Action("GetDevicesList", "Devices", new {Area = "DHub"})'

                map.addListener("rightclick", function(event) {
                    var lat = event.latLng.lat();
                    var lng = event.latLng.lng();
                    // populate yor box/field with lat, lng
                    console.log("Lat=" + lat + "; Lng=" + lng);
                    $('#modal-longitude-value').text(lng);
                    $('#modal-latitude-value').text(lat);
                    $('#modal-move-to-position').modal({focus: true, show: true, keyboard: true});
                });

                let infowindow = new google.maps.InfoWindow();
                initLiveTelemetry(map);
                $.getJSON(url)
                .done(function (device_list) {
                    $.each(device_list, function (i, device) {
                        if (device.dropboxToken === undefined)
                            return;

                        var dbx = new Dropbox.Dropbox({ accessToken: device.dropboxToken, fetch: fetch})
                        getFolders(dbx, `/${device.serialNumber}`, (folder_entry) => {
                            console.log( folder_entry["path_lower"])
                            getFile(dbx, folder_entry["path_lower"], (file) => {
                                    let latitude = getCoordinate(file, 'latitude')
                                    let longitude = getCoordinate(file, 'longitude')
                                    let content_cb = populateMarkerContentDropbox.bind(null, dbx, file);
                                    let icon_url =  `${window.location.origin}/images/map-hand-drawn-paper-svgrepo-com.svg`
                                    let marker_icon = {
                                        url: icon_url, // url
                                        scaledSize: new google.maps.Size(50, 50), // scaled size
                                        origin: new google.maps.Point(0,0), // origin
                                        anchor: new google.maps.Point(0, 0) // anchorscaledSize: new google.maps.Size(50, 50), // scaled size
                                            }
                                    let populate_cb = populateMarkers.bind(null, map, device.serialNumber, file.id,
                                        latitude, longitude, marker_icon, content_cb);
                                    populate_cb()
                                }
                             )
                        })
                    })
                })
                .fail(function () {
                    console.log("Received bad json")
                })
        }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
}